html, body {
  height: 100%;
}

html {
  display: table;
  margin: 0 auto;
}

body {
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
}

.calculator-container {
  background-color: rgb(161, 161, 161);
  border-radius: 4px;
  box-shadow: 0 10px 50px rgb(98, 98, 98);
  height: 320px;
  margin: 0 auto;
  width: 232px;
}

/* all buttons */
.calculator-btn {
  display: inline-block;
  float: left;
  font-size: 1.4em;
  height: 47px;
  line-height: 46px;
  margin-left: 1px;
  margin-top: 1px;
  text-align: center;
}

/* calculation display div */
.calculator-output {
  height: 79px;
}

/* gray and orange divs */
.calculator-gray {
  background-color: rgb(221, 221, 221);
}

.calculator-orange {
  background-color: rgb(246, 145, 51);
  color: white;
}

/* div sizes */
.calculator-small {
  width: 57px;
}

.calculator-medium {
  border-radius: 0 0 0 4px;
  text-align: left;
  width: 115px;
}

/* position zero button */
span {
  margin-left: 23px;
}

/* round bottom right div's corner */
.calculator-rounded {
  border-radius: 0 0 4px 0;
}
